body, button {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.social-icons{
	float: right;
}
.social-icons ul{
	list-style: none;
	padding: 5px;
	margin: 35px;
}

.social-icons li{
	display: inline-block;
	margin-left: 15px;
}

.social-icons img{
	height: 40px;
	width: 40px;
}

.geo{
	height: 20px;
	width: 20px;
	margin-bottom: 10px;
	text-align: left;
	display: inline-block;
}

.addres{
	font-size: 30px;
	float: left;
}

.block1{
	background-image: url("../image/block1.jpg");
	padding: 20px;
	object-fit: cover;
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	text-align: left;
	background-size: cover;
	background-position: center;
}

.paw{
	height: 40px;
	width: 40px;
	margin-left: 15px;
}

h1{
	text-align: center;
	font-size: 60px;
	background-color: rgba(233, 172, 183, 0.8);
	margin-bottom: 20px;
}
.h1{
	text-align: center;
	background-color: rgba(233, 172, 183, 0.8);
	border-radius: 30px;
	font-size: 40px;
	margin: 25px;
}

p, ul{
	font-size: 30px;
	margin: 30px;
}

.first, .second, .third{
	float: left;
	border-radius: 30px;
	background-color: rgba(233, 172, 183, 0.8);
	margin: 30px;
	padding: 10px;
	font-size: 35px;
}

.butt{
	display: inline-block;
	text-align: center;
	margin: 48vh;
	margin: 50px 50px 50px 400px;
	height: 150px;
	width: 350px;
}

.but1{
	font-size: 40px;
	background-color: rgb(217, 128, 128);
	box-shadow: -12px 8px 51px -12px rgb(186, 85, 31);
	border-radius: 30px;
	border: #BF485D solid;
}

.block2{
	background-color: #FFBFBC;
	padding: 25px;
}

.block2 ul{
	list-style-image: url("../image/li-paw.png");
	margin-bottom: 10px;
	align-items: stretch;
	background-color: rgba(255, 255, 255, 0.4);
}

.block2 li{
	margin: 15px;
}

.privilege ul{
	border-radius: 30px;
	background-color: rgba(255, 227, 225, 0.5);
}

h2{
	text-align: center;
	font-size: 48px;
	margin: 20px;
	border-radius: 30px;
	background-color: rgba(255, 227, 225, 0.5);
}

h3{
	text-align: center;
	font-size: 40px;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;
}

.block3{
	background-color: rgba(162, 128, 105, 0.8);
	padding: 25px;
	display: grid;
}

.pic{
	height: 20vh;
	width: 20vh;
	text-align: center;
	margin-left: 48vh;
}

.price{
	align-items: stretch;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 10px;
	border-radius: 30px;
}

.price ul{
	list-style-image: url("../image/li-paw.png");
	margin: 10px;
}

.free{
	align-items: justify;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.4);
}

.free ul{
	list-style: none;
}

.free ul li:before{
	content: "-";
	position: relative;
	left: -5px;
}

.block4{
	background-color: rgba(244, 155, 155, 0.9);
	padding: 25px;
	display: grid;
}

.discount{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;
	margin: 30px;
}

.picc{
	height: 39vh;
	width: 33vh;
	margin: 20px;
}

.block4 li{
	margin: 10px;
}

.discount ul{
	list-style-image: url("../image/li-paw.png");
	margin-bottom: 10px;
	text-align: left;
}

.line{
	height: 150px;
	width: 150px;
	background-color: white;
}

.block5{
	background-color: rgba(240, 128, 128, 0.5);
	padding: 25px;
}

.cats{
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;
	font-size: 40px;
	text-align: center;
}

.cat{
	height: 30%;
	width: 30%;
	border-radius: 20px;
	box-shadow: -12px 8px 51px -12px rgb(186, 85, 31);
}

.center{
	text-align: center;
}

.block6{
	background-color: rgba(162, 128, 105, 0.8);
	padding: 25px;
}

.six{
	text-align: center;
	font-size: 40px;
	padding: 20px;
	background-color: rgba(233, 172, 183, 0.8);
	border-radius: 30px;
}

.bl6{
	text-align: center;
}

.pngg{
	width: 500px;
	height: 200px;
}

.motivation{
	text-align: justify;
	font-size: 40px;
	background-color: rgba(233, 172, 183, 0.8);
	border-radius: 30px;
	padding: 25px;
}

.but2{
	font-size: 36px;
	background-color: rgb(217, 128, 128);
	box-shadow: -12px 8px 51px -12px rgb(186, 85, 31);
	border-radius: 30px;
	border: #BF485D solid;
	height: 100px;
	width: 300px;
	margin-right: 60px;
}

.end{
	text-align: center;
}

.contact{
	text-align: right;
	font-size: 25px;
}
