button, h1, h2, h3{
	font-family: "Borders Divide But Hearts Shall [RUSbyPenka220]" ;
	src: url(../fonts/BordersDivideButHeartsShall[RUSbyPenka220]-Regular.ttf);
	font-style: normal;
	font-weight: bolder;
}

.social-icons{
	float: right;
}
.social-icons ul{
	list-style: none;
	padding: 5px;
	margin: 35px;
}

.social-icons li{
	display: inline-block;
	margin-left: 15px;
}

.social-icons img{
	height: 40px;
	width: 40px;
}

.geo{
	height: 20px;
	width: 20px;
	margin-bottom: 10px;
	text-align: left;
	display: inline-block;
}

.addres{
	font-size: 30px;
	float: left;
}

.block1{
	background-image: url("../image/background-full.png");
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	background-size: cover;
	background-position: center;
}

.br1{
	margin: 10%;
}

.paw{
	height: 40px;
	width: 40px;
}

h1{
	text-align: left;
	font-size: 60px;
	background-color: rgba(255, 255, 255, 0.4);
}
.h1{
	text-align: left;
	background-color: rgba(255, 255, 255, 0.4);
	font-size: 40px;
	margin: 25px;
}

p, ul{
	font-size: 30px;
	margin: 30px;
}

.first, .second, .third{
	float: left;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 30px;
	font-size: 35px;

}
button{
	font-size: 40px;
	background-color: #DC143C;
	border: dashed black;
	border-radius: 30px;
	height: 200px;
	width: 385px;
	margin-right: 50px;
}

.block2{
	background-color: rgba(240, 128, 128, 0.7);
	border-radius: 25px;
}

.block2 ul{
	list-style-image: url("../image/li-paw.png");
	margin-bottom: 10px;
	align-items: stretch;
	background-color: rgba(255, 255, 255, 0.4);
}

.block2 li{
	margin: 10px;
}

.privilege{
	border-radius: 25px;
}

h2{
	text-align: center;
	font-size: 48px;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

h3{
	text-align: center;
	font-size: 40px;
	margin: 20px;
	background-color: rgba(255, 255, 255, 0.6);
}

.block3{
	background-color: rgba(240, 128, 128, 0.7);
	border-radius: 25px;
}

.price{
	align-items: left;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 10px;
}

.price ul{
	list-style-image: url("../image/li-paw.png");
	margin: 10px;
}

.free{
	align-items: justify;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.4);
}

.free ul{
	list-style: none;
}

.free ul li:before{
	content: "-";
	position: relative;
	left: -5px;
}

.block4{
	background-image: url("../image/block4.jpg");
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: right;
	background-size: cover;
	background-position: center;
}

.discount{
	align-items: justify;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 15px;
}

.block4 li{
	margin: 10px;
}

.discount ul{
	list-style-image: url("../image/li-paw.png");
	margin-bottom: 10px;
}

.line{
	height: 20px;
	width: 20px;
	background-color: white;
}

.block5{
	background-color: rgba(240, 128, 128, 0.7);
	border-radius: 25px;
}
